@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;1,500&display=swap");

//Colors
$darkBackground: #0b0d17;
$darkBlue: #0c1024;
$primaryGray: #d0d6f9;
$secondaryGray: #979797;
$primaryWhite: #ffffff;
$navigationBg: hsla(0, 0%, 100%, 0.1);

//Typography
$bellefairFont: "Bellefair", sans-serif;
$barlowFont: "Barlow", sans-serif;
